@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.header {

}

.brewery-logo {

}