@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 16px;
  gap: 24px;
  background-color: #FFC300;
}

.brewery-logo {
  position: absolute;
  top: 5px;
  left: 30px;
}

.link  {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.5s ease;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
}

.shopping-bag-button {
  display: inline-block;
  position: relative;
  border: none;
  background-color: #FFC300;
  padding: 0;
  transition: color 1s ease;
}

.link:hover, 
.shopping-bag-button:hover  {
  color: white;
}

.buy-beer-chapter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: repeat center url(./Images/blue\ wall.jpg);
}

.beer-online {
  margin-bottom: 48px;
}

.shop-now-button {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  border: black 5px solid;
  padding: 16px;
  text-decoration: none;
  color: black;
  transition: background-color 1s ease;
}

.shop-now-button:hover {
  background-color: white;
}

.new-beer-chapter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  gap: 48px;
  background-color: black;
  color: white;
}

.ipa-image {
  padding: 16px;
}

.new-beer-text {
  position: relative;
  height: 400px;
  top: -50px;
}

.hoptopuss {
  color: #FFC300;
}

.ipa-text {
  font-size: 1.1rem;
  margin-bottom: 48px;
}

.shop-new-beer-button {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  border: white 5px solid;
  padding: 16px;
  text-decoration: none;
  color: white;
  transition: border-color 1s ease, color 1s ease;
}

.shop-new-beer-button:hover {
  border-color: #FFC300 ;
  color: #FFC300;
}

.beers-chapter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 600px;
    gap: 16px;
    margin-top: 32px;
    color: black;
}

.craft-beers {
  display: flex;
  flex-flow: row nowrap;
  margin: 48px 0;
  gap: 64px;
}

.ipa, .porter, .lager {
  width: 200px;
  height: 300px;
}

.ipa-beer,
.porter-beer,
.lager-beer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 32px;
}

.slide-link {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.slide-link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #FFC300;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.slide-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}